@model CodeBreaker.WebApp.Models.GameModel
           
@{
    ViewBag.Title = "Jugar";
}

@using (Html.BeginForm("Jugar", "Home", FormMethod.Post)) {
    <fieldset>
        <legend>@ViewBag.Message</legend>

        <div class="editor-label">
            @Html.LabelFor(model => model.NumeroIngresado) :
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.NumeroIngresado)
            <input type="submit" value="GO!" />
        </div>

        <div class="display-label">
            @Html.LabelFor(model => model.Pista) :
        </div>
        <div class="display-field">
            @Html.DisplayFor(model => model.Pista)
        </div>

    </fieldset>
}
